header{background-color: black;
    color: darkgray;
font-size: xx-large;}

div{
    font-size:x-large;

}
footer{
    background-color:aqua
}

ol li{
    font-size:x-large;
}


ul li{
    font-size:x-large;
}